@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Righteous&display=swap');

:root {
    --main-color: rgb(235, 163, 30);
    --accent-color: rgb(56, 56, 56);
    --page-color: white;
    --mobile-menu-transition-speed: 200ms;
    --menu-transition-speed: 200ms;
}

body {
    overflow-x: hidden;
}

.page-color {
    color: var(--page-color)
}

.accent-color {
    color: var(--accent-color);
}

.main-color {
    color: var(--main-color);
}

.navbar-container {
    font-family: 'Fredoka', sans-serif;
    border-bottom: .4em solid var(--main-color);
    box-shadow: 0 -5px 20px 1px var(--accent-color);
    
}

.menu-icon {
    display: none;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.settings {
    display: flex;
    font-size: 1.7rem;
    padding: 0 1rem 0 0;
    margin: 0;
    padding: auto 2rem 2rem 2rem;
}

.settings svg ,.mobile-settings svg{
    cursor: pointer;
    transition: transform 350ms;
}

.settings svg:hover,.mobile-settings svg:hover{
    transform: rotate(90deg);
    
}

.right-nav-side {
    align-items: center;
    justify-content: center;
}

.logo-container {
    margin: 1.1rem;
    text-decoration: none;
    color: var(--accent-color);
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.logo-icon {
    color: var(--main-color)
}

.navbar-container {
    align-items: center;
    justify-content: space-between
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0;
    
}

.nav-links {
    
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4rem;
    color: var(--accent-color);
    

    box-shadow: inset 0 -3px 0 -1px var(--main-color);
    transition: box-shadow 150ms ease-in-out, color 80ms;
    padding: 100% 2rem 2rem 2rem;
    

}

.nav-links:hover {
    box-shadow: inset 0 -100px 0 -1px var(--main-color);
    color: var(--page-color);
}

.mobile-settings {
    display: none;
}

.full-settings {
    z-index: 9998;
    color: var(--page-color);
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    background: var(--accent-color);
    height: 100vh;
    width: 100vw;
    transform: translateX(100%);
    transition: transform 250ms;
    top:0;
    
}

.full-settings[data-visible="true"] {
    transform: translateX(0);
}

.full-settings h1{
    
    text-decoration: underline;
    margin-top: 1.7em;

}

.settings-x {
   cursor: pointer;
    position: absolute;
    z-index: 9999;
    right: 2rem;
    font-size: 2.3rem;
    transition: transform 200ms ease-out;
}
.settings-x:hover {
    transform: rotate(90deg);
}

.full-settings ul {
    padding: 1.2em 0 0 0;
    list-style: none;
    text-align: center;
}

@media (min-width: 45em) and (max-width: 70em) {

    .nav-links {
        font-size: 1.3rem;
        padding: 100% 1rem 2rem 1rem;
    }
}

/* mobile view*/
@media (max-width: 45em) {

    /* what I could end up doing is having two separte gears that open a settings menu, and then the settings
    menu has it's own x button */

    .settings {
        display: none;
    }

    .mobile-settings {
        color: var(--page-color);
        font-size: 2rem;
        display: block;
        transition: transform 300ms ease-out;
    }

    .nav-links {
        color: var(--page-color);
        padding: 0;
        
        
    }
    
    .nav-list {
        
        gap: 2em;
        font-size: 1.8rem;
        font-weight: bold;
        z-index: 1000;

        position: fixed;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(20vh, 10rem) 2em;

        background: var(--main-color);
        transform: translateX(100%);
        
        transition: transform var(--mobile-menu-transition-speed) ease-out;

    }

    .nav-list[data-visible="true"] {
        transform: translateX(0);
    }

    
    .menu-icon {
        cursor: pointer;
        display: block;
        color: var(--page-color);
        position: absolute;
        z-index: 9998;
        font-size: 2.5rem;
        top: 2rem;
        right: 2rem;

    }

    .menu-icon.active {
        display: block;
        color: var(--page-color);
        position: absolute;
        z-index: 9997;
        font-size: 2.5rem;
        top: 2rem;
        right: 2rem;

    }

    
    
}