@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Righteous&display=swap');

:root {
    --main-color: rgb(235, 163, 30);
    --accent-color: rgb(56, 56, 56);
    --page-color: white;
    --mobile-menu-transition-speed: 250ms;
    --menu-transition-speed: 200ms;
}

.page-color {
    color: var(--page-color)
}

.accent-color {
    color: var(--accent-color);
}

.main-color {
    color: var(--main-color);
}

.navbar-container {
    font-family: 'Fredoka', sans-serif;
    border-bottom: .4em solid var(--main-color);
}

.menu-icon {
    display: none;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}


.logo-container {
    margin: 2rem;
    text-decoration: none;
    color: var(--accent-color);
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-icon {
    color: var(--main-color)
}

.navbar-container {
    align-items: center;
    justify-content: space-between
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 2rem 5rem 2rem 2rem;
    gap: 2em;
    transition: transform 0ms;
    
}

.nav-links {
    
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    color: var(--accent-color);
    

}

@media (min-width: 45em) and (max-width: 58em) {
    .nav-list {
        padding: 2rem 2rem 2rem 2rem;
        gap: 1em;
        
    }
    .nav-links {
        font-size: 1.6rem;
    }
}

/* mobile view*/
@media (max-width: 45em) {

    .nav-links {
        color: var(--page-color);
    }

    .nav-list {

        gap: 2em;
        font-size: 1.8rem;
        font-weight: bold;
        z-index: 1000;

        position: fixed;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(20vh, 10rem) 2em;

        background: var(--main-color);
        transform: translateX(100%);
        
        transition: transform var(--mobile-menu-transition-speed);
        
    }

    .nav-list.flex.active {
        transform: translateX(0);
        transition: transform var(--mobile-menu-transition-speed);
    }

    
    .menu-icon {
        cursor: pointer;
        display: block;
        color: var(--page-color);
        position: absolute;
        z-index: 9999;
        font-size: 2.5rem;
        top: 2rem;
        right: 2rem;

    }

    .menu-icon.active {
        display: block;
        color: var(--page-color);
        position: absolute;
        z-index: 9999;
        font-size: 2.5rem;
        top: 2rem;
        right: 2rem;

    }

    
    
}